extends layout

block content
    div(class='container')
        div(id='main' class='row')
            div(id='col1' class='col-lg-6 col-md-6 col-sm-6 col-xs6' style='background-color: lightblue')
                p='Testin'
            div(id='col2' class='col-lg-6 col-md-6 col-sm-6 col-xs6' style='background-color: green')
                p='Testin'
