<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cost Comparison</title>
    <link rel="stylesheet" href="/stylesheets/chart.css">
    <script src="https://d3js.org/d3.v4.min.js"></script>
  </head>
  <body>
    <div class="container">
      <svg width="960" height="500"></svg>
      <script type="text/javascript" src="/javascripts/chart.js"></script>
      <div id="switcher">
        <p>compare prices for:</p>
        <button class="button" onclick="showitem(cokedata)">Coke</button>
        <button class="button" onclick="showitem(mealdata)">Meal</button>
        <button class="button" onclick="showitem(ticketdata)">Movie</button>
      </div>
      <div id="showfull"><a href="/home" title="Show detailed comparison">Show detailed comparison</a></div>
    </div>
  </body>
</html>