body {
    padding: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.container {
    margin: 0 0;
    padding: 0 0;
    width: inherit;
}

.row {
    margin: 0 0;
}

#col1, #col2 {
    padding: 0 0;
}

#col1 {
    border-right: 1px solid #000000;
}

#col2 {
    border-left: 1px solid #000000;
}

#col1 div, #col2 div {
    font: 30px sans-serif;
    background-color: steelblue;
    text-align: center;
    padding: 5px;
    border: 3px;
    margin: 10px;
    color: black;
}

/*#col2 svg {*/
    /*font: 10px sans-serif;*/
    /*background-color: steelblue;*/
    /*text-align: right;*/
    /*padding: 3px;*/
    /*margin: 1px;*/
    /*color: white;*/
/*}*/

.chart1 rect, .chart2 rect {
    fill: steelblue;
}
.chart1{
    float: right;
}
.chart1 text, .chart2 text {
    fill: black;
    font: 12px sans-serif;
    text-anchor: end;
}

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}

/*
Pretty print JSON, used for testing
*/
pre {
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}

.string {
    color: green;
}

.number {
    color: darkorange;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: red;
}

